.form{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px 20px ;
	border: 2px solid silver;
	border-radius: 10px;
	max-width: 300px;
	margin: 0 auto;
}
.form input {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid silver;
}	
.form p {
	text-align: center;
}
.form button{
	padding: 5px 15px;
	background-color: silver;
	border: 1px solid silver;
	border-radius: 5px;
}
.form button:disabled{
	border:1px solid red;
}
.error{
	color:red;
	font-size: 14px;
}